@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   padding: 0;
   margin: 0;
   border: 0;
}

html,
body {
   height: 100vh;
   font-size: 16px;
}

@media (max-width: 768px) {
   html,
   body {
      font-size: 14px;
   }
}

@media (min-width: 1440px) {
   html,
   body {
      font-size: 18px;
   }
}

input {
   outline: none;
}

/* Общие стили для всех браузеров */
.dark::-webkit-scrollbar,
.dark::-webkit-scrollbar-thumb {
   background-color: #464646; /* Цвет ползунка */
}

.dark::-webkit-scrollbar-track {
   background-color: #262626; /* Цвет трека (фона полосы прокрутки) */
}

/* стили для Firefox */
html.dark {
   scrollbar-color: #464646 #262626;
}

/* стили для Internet Explorer (Edge) */
.dark::-ms-scrollbar-thumb {
   background-color: #464646;
}

.dark::-ms-scrollbar-track {
   background-color: #262626;
}

html.hideScrollbar,
.hideScrollbar::-webkit-scrollbar {
   display: none;
}

