.button > span {
    transition: all 0.3s ease;
}

.button:hover > span:first-of-type {
    transform: rotate(10deg) translate(4px);
    @apply bg-zinc-200
}

.button:hover > span:last-of-type {
    transform: rotate(-10deg) translate(-4px);
    @apply bg-zinc-200
}