@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .textGray {
      @apply text-zinc-100/60
   }
}

* {
   padding: 0;
   margin: 0;
   border: 0;
   outline: none;
   box-sizing: border-box;
}

@media (max-width: 768px) {
   html,
   body {
      font-size: 0.875rem;
   }
}

@media (min-width: 1440px) {
   html,
   body {
      font-size: 1.125rem;
   }
}