@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .w-fixed { @apply max-w-8xl w-full m-auto px-6 }

   .text-gray { @apply dark:text-zinc-200/60 }

   .border-default { @apply border-1.5 border-transparent }
   .border-error { @apply border-1.5 border-red-600 }

   .scrollbar::-webkit-scrollbar { width: 10px; height: 10px; }
   .scrollbar::-webkit-scrollbar-track { @apply rounded-full dark:bg-zinc-600/25 }
   .scrollbar::-webkit-scrollbar-thumb { @apply rounded-full dark:bg-zinc-600/70 }
}

* { outline: none; }

body {
   font-family: "Exo 2", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

/*@media (max-width: 768px) {*/
/*   html,*/
/*   body {*/
/*      font-size: 0.875rem;*/
/*   }*/
/*}*/

/*@media (min-width: 1440px) {*/
/*   html,*/
/*   body {*/
/*      font-size: 1.125rem;*/
/*   }*/
/*}*/